* {
  margin: 0;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin: 0 0 0 0px;
  height: 60px;
  background-color: rgb(45, 52, 52);
  color: aliceblue;
}

.navbar .links {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: aliceblue;
  text-decoration: none;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.note-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.note-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0, 0.1);
}

.note-preview h2 {
  font-size: 20px;
  color: rgb(45, 52, 52);
  margin-bottom: 8px;
}